@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(20, 219, 241, 0.382);
    font-family: 'Press Start 2P', cursive;
}
#game{
    height: 200px;
    width: 600px;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid black;
}
#dino{
    height: 55px;
    width: 55px;
    position: relative;
    top: 150px;
    /* background-color: black; */
    background-image: url('dino-removebg-preview.png');
    background-size: 50px 50px;
    z-index: 1;
}

.jump{
    animation:jump 0.5s linear infinite;
}
#cactus{
    height: 55px;
    width: 50px;
    position: relative;
    top: 100px;
    left: 540px;
    /* background-color: black; */
    background-image: url('cactus-removebg-preview.png');
    background-size: 50px 50px;
    animation: move 1.5s linear infinite;
}
@keyframes move{
    0%{
        left:580px;
    }
    100%{
        left: -20px;
    }
}
@keyframes jump{
    0%{
        top: 150px;
    }
    50%{
        top: 80px;
    }
    75%{
        top:110px;
    }
    100%{
        top: 150px;
    }
}